* {
  font-family: "Gaegu";
}

body {
  background-color: rgb(22, 59, 74);
  color: rgb(45, 45, 45);
  padding: 10px;
  font-family: arial;
  background-image: url("https://cdn.axieinfinity.com/landing-page/_next/static/images/cloud-ring-b9996e3e8fe9b463920384977b0d854c@1x.webp");
}

#all-contents {
  max-width: 800px;
  margin: auto;
}

/* navigation menu */
nav {
  background: transparent;
  margin: 0 auto;
  display: flex;
  padding: 10px;
}

h1 {
  display: flex;
  align-items: center;
  color: black;
  flex: 1;
  margin: 0;
  font-weight: bold;
}

#nav-ul {
  list-style-image: none;
}

.nav-li {
  display: inline-block;
  padding: 0 10px;
}

a {
  text-decoration: none;
  color: #fffbfb;
  font-weight: bold;
  font-size: 20px;
}

/* main container area beneath menu */
main {
  background: transparent;
  display: flex;
  border-radius: 20px;
  background-image: url("https://unbounce.com/wp-content/webp-express/webp-images/doc-root/photos/Gradient-Background.png.webp");
}

.sidebar {
  margin-right: 25px;
  padding: 10px;
}

.sidebar-img {
  width: 200px;
  border-radius: 50px;
}

.content {
  flex: 1;
  padding: 15px;
}

#interests {
  padding: 8px;
}

h2,
h3 {
  margin: 0px;
}

/* portfolio styles */

.content h1 {
  color: black;
}

#portfolio {
  list-style-type: none;
  padding-left: 0;
}

#portfolio li {
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

#portfolio li:hover {
  background: #eee;
}

#portfolio a {
  text-decoration: none;
  color: #454545;
}

/* responsive web design */
@media screen and (min-width: 120px) and (max-width: 1080px) {
  main {
    height: 100ch;
    zoom: 1.5;
    display: grid;
  }

  h1 {
    font-size: 44px;
  }

  h2 {
    font-size: 42px;
  }

  h3 {
    font-size: 36px;
  }

  #all-contents {
    height: 100ch;
    margin: none;
  }

  a {
    font-size: 42px;
  }

  .sidebar {
    margin-right: 0px;
    justify-content: center;
    align-items: center;
  }

  .sidebar-img {
    width: 100%;
  }

  p,
  li {
    font-size: 24px;
  }

  .content {
    align-content: center;
    justify-content: center;
  }
}
